<%- include('../partials/header') %>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Purchases</h1>

        <div class="card">
            <div class="card-header">
                <h1>Transaction</h1>
            </div>

            <div class="card-body">
                <form id="start-form" class="row g-3">
                    <div class="col-md-4">
                        <label for="invoice" class="form-label">Invoice</label>
                        <input type="text" class="form-control" id="invoice" value="<%= purchases.invoice %>" readonly>
                    </div>
                    <div class="col-md-4">
                        <label for="time" class="form-label">Time</label>
                        <input type="text" class="form-control" name="time" id="time"
                            value="<%= moment(purchases.time).format('DD MMM YYYY HH:mm:ss') %>" readonly>
                    </div>
                    <div class="col-md-4">
                        <label for="operator" class="form-label">Operator</label>
                        <input type="text" class="form-control" name="Operator" id="operator" value="<%= user.name %>"
                            readonly>
                    </div>
                </form>
            </div>
            <hr>
            <div class="card-body">
                <form id="detail-form" class="row g-3">
                    <div class="col-md-4 py-3">
                        <label for="barcode" class="form-label">Goods Barcode</label>
                        <select name="barcode" id="barcode" class="form-control">
                            <% goods.forEach(item=> { %>
                                <option value="<%= item.barcode %>">
                                    <%= item.barcode + ' - ' + item.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="col-md-4 py-3">
                        <label for="name" class="form-label">Goods Name</label>
                        <input type="text" class="form-control" name="name" id="name" readonly>
                    </div>
                    <div class="col-md-4 py-3">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="text" class="form-control" name="stock" id="stock" readonly>
                    </div>
                    <div class="col-md-4 py-3">
                        <label for="purchaseprice" class="form-label">Purchase Price</label>
                        <input type="text" class="form-control" name="purchaseprice" id="purchaseprice">
                    </div>
                    <div class="col-md-4 py-3">
                        <label for="quantity" class="form-label">Qty</label>
                        <input type="text" class="form-control" name="quantity" id="quantity">
                    </div>
                    <div class="col-md-4 py-3">
                        <label for="ttotalprice" class="form-label">Total Price</label>
                        <input type="text" class="form-control" name="totalprice" id="totalprice">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-fw fa-plus"></i>
                            </span>
                            <span class="text">Add</span>
                        </button>
                    </div>
                </form>
            </div>
            <hr>
            <form action="" method="post">
                <table id="detail-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Barcode</th>
                            <th>Name</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Total Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <div class="card-footer">

                    <div class="row mb-3">
                        <label for="totalsum" class="col-sm-2 col-form-label">Total Summary</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="totalsum" name="totalsum"
                                value="<%= new Intl.NumberFormat('id', { style: 'currency', currency: 'IDR' }).format(purchases.totalsum) %>"
                                readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="supplier" class="col-sm-2 col-form-label">Supplier</label>
                        <div class="col-sm-10">
                            <select type="text" class="form-control" id="supplier" name="supplier" required>
                                <option value="<%= purchases.supplier %>">
                                    <%= purchases.name %>
                                </option>
                                <% suppliers.forEach(item=> { %>
                                    <option value="<%= item.supplierid %>">
                                        <%= item.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Finish</span>
                    </button>

                    <a href="/purchases" class="btn btn-warning btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Back</span>
                    </a>
            </form>
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->

    <script>
        let invoice = '<%= purchases.invoice %>';

        $(document).ready(function () {
            readDetails()
            //munculin detail barang ketika dipiih barcode
            $('#barcode').change(function () {
                const barcode = $(this).val()
                $.get(`/purchases/goods/${barcode}`).done(function (data) {
                    $('#name').val(data.name)
                    $('#stock').val(data.stock)
                    $('#purchaseprice').val(data.purchaseprice)
                    $('#quantity').val(0)
                    $('#totalprice').val(data.totalprice)
                })
            })

            $('#quantity').keyup(function () {
                const quantity = $(this).val()
                const purchaseprice = $('#purchaseprice').val()
                $('#totalprice').val(currencyFormatter.format(purchaseprice * quantity))
            })

            $('#detail-form').submit(function (e) {
                e.preventDefault();
                const itemcode = $('#barcode').val()
                const quantity = $('#quantity').val()
                $.post('/purchases/additem', { invoice, itemcode, quantity }).done(function (data) {
                    readDetails()
                    $('#totalsum').val((data.totalsum))
                })
            })

        });

        const readDetails = () => {
            $.get(`/purchases/details/${invoice}`).done(function (data) {
                let html = ''
                data.forEach((item, index) => {
                    html += `
                        <tr>
                            <td>
                                ${index + 1}
                            </td>
                            <td>
                                ${item.itemcode}
                            </td>
                            <td>
                                ${item.name}
                            </td>
                            <td>
                                ${item.quantity}
                            </td>
                            <td>
                                ${currencyFormatter.format(item.purchaseprice)}
                            </td>
                            <td>
                                ${currencyFormatter.format(item.totalprice)}
                            </td>
                            <td>
                                <a href="purchases/deleteitems/${item.id}" class="btn btn-danger btn-circle btn-delete" data-toggle="modal" data-target="#deleteModal${item.id}"><i class="fas fa-fw fa-trash"></i></a>
                                
                                <div class="modal fade" id="deleteModal${item.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel${item.id}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel${item.id}">Delete Confirmation</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                     <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                                <div class="modal-body">Are you sure, you want delete it?</div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                                    <a class="btn btn-primary" href="/purchases/deleteitems/${item.id}">Yes</a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    `
                })
                $('#detail-table tbody').html(html)
            })
        }
    </script>

    </div>
    <!-- End of Main Content -->

    <%- include('../partials/footer') %>